header {
    background-color: #ffffff;
    min-height: 80px;
    width: 100vw;
    font-weight: 500;
    color: #385aef;
    flex-grow: 0;
  }
  
  .headerContainer {
    height: 100%;
  }
  .logo {
    width: 110px;
    height: 35px;
  }
  
  header .active {
    position: relative;
  }
  
  header .active::after {
    transform: translateX(-50%);
    border-radius: 100%;
    position: absolute;
    background: #385aef;
    bottom: 0px;
    height: 6px;
    content: "";
    width: 6px;
    left: 50%;
  }